[data-theme="light"] {
  --accent: #f63f01;
  --accent-dark: #e03800;
  --black: 15, 18, 25; /* or rgb(15, 18, 25) */
  --gray: 96, 115, 159; /* or rgb(96, 115, 159) */
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57; /* or rgb(34, 41, 57) */
  --text-color: #000000;
  --pill-color: #e8ebee;
  --box-shadow: 0 2px 6px rgba(var(--gray), 0.25),
    0 8px 24px rgba(var(--gray), 0.33), 0 16px 32px rgba(var(--gray), 0.33);
}

[data-theme="dark"] {
  --background: #000000 !important; /* Dark theme background */
  --text-color: #e8ebee !important; /* Dark theme text color */
  --pill-color: #e8ebee !important; /* Dark theme text color */
  --gray-gradient: rgba(15, 18, 25, 50%), #000000 !important; /* Adjust gradient for dark theme */
  --gray: 150, 150, 150; /* Replace with your chosen dark mode gray */
  --gray-light: 70, 70, 70; /* Softer version for shadows */
  --box-shadow: 0 2px 6px rgba(var(--gray), 0.25),
    0 8px 24px rgba(var(--gray), 0.33), 0 16px 32px rgba(var(--gray), 0.33);
}

/* General Styles */
body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--background); /* Use the dynamic background variable */
  color: var(--text-color); /* Use the dynamic text color variable */
  font-size: 20px;
  line-height: 1.7;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--text-color); /* Use the dynamic variable */
  line-height: 1.2;
}

h1 {
  font-size: 3em; /* changed from 3.052em */
}

h2 {
  font-size: 2.5em; /* changed from 2.441em */
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent-dark);
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea,
input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: rgba(var(--gray-light), 0.1); /* Light mode */
  color: var(--black);
  border-radius: 2px;
}

[data-theme="dark"] code {
  background-color: rgba(var(--gray-light), 0.2); /* Dark mode */
  color: var(--text-color);
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 1rem 1.5rem;
  margin: 0px;
  font-size: 1.333em;
  font-style: italic;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); /* Support for legacy browsers */
  white-space: nowrap; /* Prevent text from wrapping */
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  width: 100%;
}

ul li img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.date {
  margin-bottom: 0.5em;
  color: rgb(var(--gray));
}

.category {
  margin-bottom: 2rem;
}

.category h2 {
  font-size: 2rem;
}

.filter {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--pill-color);
}

.filter button.active {
  background-color: var(--accent);
  color: white;
}

.filter button:hover {
  background-color: var(--accent-dark);
  color: white;
}

.filter button:focus {
  outline: 2px solid var(--accent-dark);
}

.filter input[type="date"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

@media (max-width: 720px) {
  body {
    --box-shadow: 0 1px 3px rgba(var(--gray), 0.15),
      0 4px 12px rgba(var(--gray), 0.25);
  }
}
