---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import BlogPosts from '../components/BlogPosts.jsx';
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from "astro:transitions";

// Fetch blog posts
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Set up categories for filtering
const categories = {
  'All': posts,
  'Career & Projects': posts.filter(post => post.data.category === 'Career & Projects'),
  'Personal Development': posts.filter(post => post.data.category === 'Personal Development'),
  'Design & Creativity': posts.filter(post => post.data.category === 'Design & Creativity'),
  'Technology & Development': posts.filter(post => post.data.category === 'Technology & Development'),
  'Lifestyle & Interests': posts.filter(post => post.data.category === 'Lifestyle & Interests'),
  'Random Thoughts': posts.filter(post => post.data.category === 'Random Thoughts'),
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <h2>Blog Posts</h2>
      <BlogPosts client:load posts={posts} categories={categories} />
    </main>
  </body>
</html>
